<!DOCTYPE html>
<html>
  <head>
    <title>file metadata</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Service
      </h1>
    </header>

    <main>
      <p class="bold">File upload:</p>
      
      <form method="post" enctype="multipart/form-data" action="/dreams">
        <input type="file" name="myFile" placeholder="Insert file!">
        <button type="submit">Submit</button>
      </form>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>


  </body>
</html>
